{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'push_task.js' %}"></script>
<script src="{% static 'fill_this_month.js' %}"></script>
<!-- Include Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

<!-- Include Datepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<div class="center-text">
<h1>Spend Point Diary</h1>
<p>From {{ start_date }} to {{ end_date }}</p>
</div>


<form method="get">
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date|date:'Y-m-d' }}">
    </div>
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date|date:'Y-m-d' }}">
    </div>
    <div class="form-group">
        <label for="status">Task Status</label>
        <select id="status" name="status" class="form-control">
            <option value="" selected>Select Status</option>
            {% for status in TaskStatus.choices %}
                <option value="{{ status.0 }}" {% if status.0 == request.GET.status %}selected{% endif %}>{{ status.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    
</form>
<button class="btn btn-primary" id="toggleSections">Toggle Sections</button>
<div id="viewOldData">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>            
            <th>State</th>
            <th>Code</th>
            <th>Point In</th>
            <th>Point Out</th>
            <th>Note</th>
            <th>Deadline</th>
            {% comment %} <th>Updated At</th> {% endcomment %}
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td contenteditable="true">{{ task.name }}</td>
            <td>  {% if TaskStatus %}
                <select class="form-control dropdown-content" id="taskStatus{{ task.id }}" onchange="updateTaskStatus({{ task.id }}, this.value)">
                    {% for status in TaskStatus.choices %}
                        <option value="{{ status.0 }}" {% if status.0 == task.status %}selected{% endif %}>{{ status.1 }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <p>TaskStatus not found for task {{ task.id }}</p>
            {% endif %} </td>
            <td>
                <select class="form-control dropdown-content" id="taskCode{{ task.id }}" onchange="updateTaskCode({{ task.id }}, this.value)">
                    {% for spendpoint in spendpoints %}
                    <option value="{{ spendpoint.code }}" {% if spendpoint.code == task.code.code %}selected{% endif %}>{{ spendpoint.code }}</option>
                    {% endfor %}
                </select>
            </td>
            {% comment %} <td>{{ task.created_at }}</td> {% endcomment %}
            {% comment %} <td>{{ task.updated_at }}</td> {% endcomment %}
            {% if task.code.isIncome %}
                <td contenteditable="true">{{ task.base_point }}</td>
                <td></td>
            {% else %}
                <td></td>
                <td contenteditable="true">{{ task.base_point }}</td>
            {% endif %}
            <td contenteditable="true">{{ task.note }}</td>
            {% comment %} <td contenteditable="true">{{ task.deadline }}</td> {% endcomment %}
            <td class="deadline" data-date-format="yyyy-mm-dd hh:ii" contenteditable="true">{{ task.deadline |date:"Y-m-d H:i" }}</td> 
            <!-- Add more fields as needed -->
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div id="insertNewData" style="display: none;">
<button class="btn btn-primary" id="submitData">submitData new</button>
    <table class="table">
        <thead>
            <!-- Your existing table header code goes here -->
        </thead>
        <tbody>
        <tr>            
            <th>Name</th>
            <th>Code</th>
            {% comment %} <th>Created At</th> {% endcomment %}
            <th>Point need</th>            
            <th>Note</th>
            <th>Deadline</th>
            {% comment %} <th>Updated At</th> {% endcomment %}
            <!-- Add more columns as needed -->
        </tr>
            <!-- Add 10 blank rows for inserting new data -->
            {% for _ in 'x'|rjust:10 %}
            
            <tr>
                <td contenteditable="true"></td>                
                <td>
                    <select class="form-control dropdown-content">
                        {% for spendpoint in spendpoints %}
                        <option value="{{ spendpoint.code }}">{{ spendpoint.code }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td class="auto-fill-date" data-date-format="yyyy-mm-dd hh:ii" contenteditable="true"></td> 
            
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} <button class="btn btn-primary" id="submitData">submitData new</button> {% endcomment %}
</div>
{% debug %}
{% endblock %}